<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Aggiungi un capo</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <input [(ngModel)]="capo.nome" class="form-control mb-2" placeholder="Nome" type="text">
  <input [(ngModel)]="capo.img" class="form-control mb-2"  placeholder="URL immagine" type="text">
  <input [(ngModel)]="capo.descrizione" class="form-control mb-2"  placeholder="Descrizione" type="text">
  <input [(ngModel)]="capo.prezzo" class="form-control mb-2"  placeholder="Prezzo" type="text">
  <button (click)="passBack()" type="submit" class="btn btn-outline-success w-100">Aggiungi</button>
</div>
