<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Gestione QR - {{capo.nomemodello}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-center">QR</th>
      <th scope="col">Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carta of carte">
      <th scope="row">{{carta.id}}</th>
      <td class="text-center rounded-2">
        <ngx-qrcode-styling [data]="'000' + carta.id" [ngClass]="carta.toPrint ? 'printMe' : ''" #qrCode [config]="qrconfig"></ngx-qrcode-styling>
      </td>
      <td><button (click)="print(carta)" class="btn btn-outline-success"> <i class="bi bi-printer"></i></button></td>
    </tr>
    </tbody>
  </table>
  <button (click)="addQr()" class="btn btn-outline-success w-100 mb-3">Aggiungi</button>
  <button (click)="activeModal.dismiss()" type="submit" class="btn btn-outline-danger w-100">Chiudi</button>
</div>
