.carousel-container {
  width: 50%!important;
  margin: auto!important;
}

.clothing-icon {
  width: 80px;
  height: 90px;
  padding: 2px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 8px 6px -6px black;
}

.clothing-icon:hover {
  cursor: pointer;
  transform: translateY(-4px);
  transition: 30ms ease-in-out;
}


