<app-navbar></app-navbar>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card" style="font-size: 12px">
      <img style="object-fit: cover" height="150" width="280" src="https://media.gucci.com/style/DarkGray_Center_0_0_980x980/1686932239/565806_XJAZY_9037_001_100_0000_Light-T-shirt-con-stampa-Gucci-Blade.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gucci</h5>
        <p class="card-text">Una magnifica maglietta Gucci della nuova collezione 2024</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>🤵🏼 Produttore:</b> Gucci</li>
        <li class="list-group-item"><b>👕 Materiali: </b>Cotone 100%</li>
        <li class="list-group-item"><b>🔢 N°: </b> 001</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Vendi</a>
        <a href="#" class="card-link">Scambia</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card my-2 my-sm-0">
      <h5 class="card-header text-center">Armadio</h5>
      <div class="card-body overflow-auto" style="max-height: 500px">
        <div class="container">
          <div class="row text-center m-auto">
            <div class="col-4 col-md-2 p-0 m-0 text-center m-0"  *ngFor="let _ of [].constructor(20)">
                <img src="https://media.gucci.com/style/DarkGray_Center_0_0_980x980/1686932239/565806_XJAZY_9037_001_100_0000_Light-T-shirt-con-stampa-Gucci-Blade.jpg" class="clothing-icon">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header text-center">Ultimi acquisti</h5>
          <div class="card-body d-flex" style="overflow-x: auto">
              @for (slide of slides; track slide.img) {
                <div>
                  <img src="{{ slide.img }}" alt="" class="clothing-icon">
                </div>
              }
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-lg btn-outline-success">➕ Riscatta carta</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header text-center">Potrebbero interessarti anche</h5>
      <div class="card-body">
        <div class="container">
          <ngx-slick-carousel class="carousel"
                              #slickModal="slick-carousel"
                              [config]="slideConfig"
          >
            @for (slide of slides; track slide.img) {
              <div ngxSlickItem class="slide">
                <div class="card mx-2" style="font-size: 12px">
                  <img src="{{ slide.img }}" height="220" style="object-fit: cover; border-radius: 0.375rem">
                  <div class="card-body">
                    <h5 class="card-title">{{slide.nome}}</h5>
                    <p class="card-text">{{slide.descrizione}}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>🤵🏼 Produttore:</b> Gucci</li>
                  </ul>
                </div>
              </div>
            }
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
