
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="https://media.gucci.com/style/DarkGray_Center_0_0_980x980/1686932239/565806_XJAZY_9037_001_100_0000_Light-T-shirt-con-stampa-Gucci-Blade.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gucci</h5>
        <p class="card-text">Il vestito di gucci del porcodiddio</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>🤵🏼 Produttore:</b> Gucci</li>
        <li class="list-group-item"><b>👕 Materiali: </b>Cotone 100% fiero</li>
        <li class="list-group-item"><b>🔢 N°: </b> 001</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Vendi</a>
        <a href="#" class="card-link">Scambia</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <h5 class="card-header text-center">Armadio</h5>
      <div class="card-body overflow-auto" style="max-height: 500px">
        <div class="container">
          <div class="row">
            <div class="col-md-3" *ngFor="let _ of [].constructor(20)">
              <div class="shadow m-2">
                <img src="https://media.gucci.com/style/DarkGray_Center_0_0_980x980/1686932239/565806_XJAZY_9037_001_100_0000_Light-T-shirt-con-stampa-Gucci-Blade.jpg" class="card-img-top" alt="...">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header text-center">Ultimi acquisti</h5>
          <div class="card-body">
            <ngx-slick-carousel class="carousel"
                                #slickModal="slick-carousel"
                                [config]="slideConfig"
            >
              @for (slide of slides; track slide.img) {
                <div ngxSlickItem class="slide">
                  <img src="{{ slide.img }}" alt="" width="150" height="200" style="object-fit: cover">
                </div>
              }
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">
        <button class="btn btn-lg btn-outline-success">➕ Riscatta carta</button>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header text-center">Potrebbero interessarti anche</h5>
      <div class="card-body">
        <div class="container">
          <ngx-slick-carousel class="carousel"
                              #slickModal="slick-carousel"
                              [config]="slideConfig"
          >
            @for (slide of slides; track slide.img) {
              <div ngxSlickItem class="slide">
                <img src="{{ slide.img }}" alt="" width="300" height="400" style="object-fit: cover">
              </div>
            }
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
