<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light-subtle">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="home">Home</a>
      </li>
      <li class="list-group-item">
        <a class="nav-link" routerLinkActive="active" routerLink="closet">Armadio</a>
      </li>
      <li class="list-group-item">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Ricerca un capo" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Cerca</button>
        </form>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand title">🗄️ OurCloset</a>
    <div class="vr d-none d-md-block"></div>
    <a class="navbar-brand ms-lg-3 title">🏪 La bottega di Peppino </a>
    <div class="vr d-none d-md-block"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="closet">Armadio</a>
        </li>
        <li class="nav-item">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Ricerca globale" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Cerca</button>
          </form>
        </li>
      </ul>
    </div>
    <div style="font-size: 30px" class="cursor-pointer" (click)="switchTheme()">
      @if (lightMode) {
        🌙
      }
      @else {
        ☀️
      }
    </div>
    <div class="mx-2 d-none d-md-block">Benvenuto, User</div>
    <div class="dropdown">
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Profilo</a></li>
        <li><a class="dropdown-item" href="#">Aggiungi prodotto</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Gestione prodotti</a></li>
      </ul>
      <div class="nav-link pic-placeholder" role="button" data-bs-toggle="dropdown" aria-expanded="false">VM</div>
    </div>
  </div>
</nav>
<div class="container-fluid pt-3">
  <router-outlet></router-outlet>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top p-2">
  <p class="col-md-4 mb-0 text-body-secondary">🗄️ OurCloset™</p>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Morawski Corporation</p>
  </ul>
</footer>
