
<div class="row">
  <div class="col-7">
    <div class="card mb-2" style="height: 800px; overflow-y: auto">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <img style="width: 100%" src="https://placehold.co/250x350">
          </div>
          <div class="col-6">
            <h3>La bottega di Pietro</h3>
            <article>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et lacus erat. Duis non mollis ante, vitae malesuada nisl. Curabitur semper, libero non molestie pellentesque, libero risus tempus magna, nec ultricies libero nulla ut nunc. Sed convallis nulla feugiat, maximus risus eu, lacinia nunc. Vestibulum mattis sit amet mi eget lacinia. Duis nec lobortis nisi. Donec ut ullamcorper ex, eu facilisis nisl.

              Phasellus in finibus purus. Vestibulum sed nulla tortor. Maecenas ultricies id nulla et ornare. Aenean id tortor ac mi finibus gravida vitae vel nisi. Ut id tempor tellus, sed placerat purus. Sed sit amet blandit felis, vitae eleifend lectus. Proin sed pharetra risus. Sed nec leo et ex pretium facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed placerat at risus vel aliquet. Proin aliquam at neque vehicula pulvinar.


            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card" style="height: 1200px; position: absolute">
      <h5 class="card-header text-center">Il processo produttivo</h5>
      <div class="card-body overflow-auto">
        <article>
          <h2>Fase 1 - Progettazione e preparazione dei materiali</h2>
          Durante questa fase iniziale, l'artigiano collabora con il cliente o sviluppa un proprio design. Si sceglie il tessuto più adatto al capo d'abbigliamento e si preparano i modelli o i disegni. Successivamente, si procede al taglio del tessuto secondo le specifiche del progetto, cercando di ottimizzare l'uso della stoffa per ridurre gli sprechi.
          Cucitura e assemblaggio:
          Una volta tagliati i pezzi di tessuto, l'artigiano procede con la cucitura e l'assemblaggio del capo d'abbigliamento. Questa fase richiede precisione e competenza nel maneggiare la macchina da cucire e altre attrezzature necessarie. Durante l'assemblaggio, l'artigiano può aggiungere dettagli come bottoni, cerniere o decorazioni, seguendo le specifiche del design.
          Rifinitura e controllo qualità:
          Una volta completata la fase di cucitura e assemblaggio, il capo d'abbigliamento passa alla fase di rifinitura. Qui, vengono eseguiti i dettagli finali, come l'orlo, la stiratura e la rifinitura delle cuciture. L'artigiano controlla attentamente il capo per assicurarsi che sia privo di difetti e che corrisponda alle aspettative del cliente o agli standard di qualità prefissati. Una volta superato il controllo qualità, il capo d'abbigliamento è pronto per essere consegnato al cliente o messo in vendita.
        </article>
        <article>
          <h2>Fase 2 - Cucitura e assemblaggio</h2>
          Una volta tagliati i pezzi di tessuto, l'artigiano procede con la cucitura e l'assemblaggio del capo d'abbigliamento. Questa fase richiede precisione e competenza nel maneggiare la macchina da cucire e altre attrezzature necessarie. Durante l'assemblaggio, l'artigiano può aggiungere dettagli come bottoni, cerniere o decorazioni, seguendo le specifiche del design.
        </article>
        <article>
          <h2>Fase 3 - Rifinitura e controllo qualità</h2>
          Una volta completata la fase di cucitura e assemblaggio, il capo d'abbigliamento passa alla fase di rifinitura. Qui, vengono eseguiti i dettagli finali, come l'orlo, la stiratura e la rifinitura delle cuciture. L'artigiano controlla attentamente il capo per assicurarsi che sia privo di difetti e che corrisponda alle aspettative del cliente o agli standard di qualità prefissati. Una volta superato il controllo qualità, il capo d'abbigliamento è pronto per essere consegnato al cliente o messo in vendita.
        </article>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <div class="card" style="height: 600px; position: relative">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-6">
            <div class="card">
              <img src="https://algonatural.it/wp-content/uploads/2021/09/Cotone-biologico-Algonatural.jpg" class="card-img-top img-materiali" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Cotone</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <img src="https://cashmerewool.it/cdn/shop/articles/lana.jpg?v=1669713171" class="card-img-top img-materiali" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Lana</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="card">
              <img src="https://cdn.ready-market.com.tw/c4f38700/Templates/pic/Q16W040.jpg?v=abbb7066" class="card-img-top img-materiali" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Poliestere</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <img src="https://www.heddels.com/wp-content/uploads/2011/06/Denim.jpg" class="card-img-top img-materiali" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Denim</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

